// Font Family
$content-font: "Barlow", sans-serif;
$header-font: "Fraunces", serif;

// Primary
$primary-blue: #3dbeff;
$primary-red: #fe7867;
$primary-yellow: #fad400;
$primary-graph-color: #297261;
$primary-photo-color: #19536b;
$primary-footer: #90d4c5;

// Neutral
$dark-high-des-blue: #23303e;
$dark-high-grey-blue: #5a636c;
$dark-grey-blue: #818498;
$grey-blue: #a7abae;
$white: #ffffff;
