@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

@import "variables", "flexgrid", "common";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $content-font;
  background: $white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 700;
}

.container {
  padding: 0 15px;
}

[data-bg],
[desktop-bg],
[mobile-bg] {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navigation Start */
header {
  background: $primary-blue;
  padding: 1.5rem;
  height: 30rem;
  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .main-menu {
      position: absolute;
      width: 100%;
      height: auto;
      background: $white;
      top: 10rem;
      text-align: center;
      z-index: 999;
      padding: 1.5rem;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      &.open {
        top: 5rem;
        opacity: 1;
        pointer-events: all;
      }
      &::before {
        content: "";
        position: absolute;
        background: transparent;
        border-bottom: 3rem solid $white;
        border-left: 2.5rem solid transparent;
        top: -1.5rem;
        right: 0;
      }
      li {
        display: block;
        padding: 1rem;
        .nav-link {
          &:not(.btn) {
            color: $grey-blue;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .hero-section {
    padding: 3rem 0 1.5rem;
    position: relative;
    &__title {
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.25rem;
    }
    &__icon {
      position: absolute;
      top: 13rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
/* Navigation End */

/* Grid Section Start */
.grid-section {
  &__item {
    min-height: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 1.5rem;
    text-align: center;
    .title-text {
      font-size: 2.5rem;
      color: $dark-high-des-blue;
      margin-bottom: 1rem;
    }
    .body-text {
      color: $grey-blue;
      font-size: 1.15rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }
    &--has-text {
      min-height: 35rem;
      justify-content: flex-end;
      background-size: cover;
      background-position-y: top;
      .title-text {
        margin-top: 1rem;
        font-size: 2rem;
      }
      .body-text {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
      &.graph-color {
        .title-text,
        .body-text {
          color: $primary-graph-color !important;
        }
      }
      &.photo-color {
        .title-text,
        .body-text {
          color: $primary-photo-color !important;
        }
      }
    }
  }
}
/* Grid Section End */

/* Testimonial Section Start */
.testimonial-section {
  padding: 4rem 1.5rem;
  &__card {
    margin-bottom: 2rem;
    text-align: center;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0 2.5rem;
    img {
      height: 4rem;
      width: 4rem;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  &__text {
    color: $dark-high-grey-blue;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  &__meta {
    margin-top: 2.5rem;
    &--name {
      font-size: 1.4rem;
      font-family: $header-font;
    }
    &--position {
      color: $grey-blue;
      font-size: 0.8rem;
    }
  }
}
.section-title {
  color: $grey-blue;
  display: block;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
/* Testimonial Section End */

/* Footer Image Start */
.footer-image-section {
  @extend .row;
  margin: 0;
  &__item {
    flex: 0 0 50%;
    height: 12rem;
  }
}
/* Footer Image End */

/* Footer Start */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-footer;
  padding: 3rem 0;
  &__site-name {
    margin-bottom: 2rem;
    img {
      width: 10rem;
    }
  }
  &__menu,
  &__social {
    display: flex;
    align-self: center;
    width: 100%;
  }
  &__menu {
    margin-bottom: 5rem;
    justify-content: space-evenly;
    &--link {
      color: lighten($primary-graph-color, 10%);
      font-size: 1.2rem;
    }
  }
  &__social {
    justify-content: center;
    li:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
/* Footer End */

@import "responsive", "mentorfooter";
