@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

@import "variables", "flexgrid", "utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $content-font;
  background: $white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: $header-font;
  font-weight: 700;
}

.container {
  padding: 0 15px;
}

[data-bg],
[desktop-bg],
[mobile-bg] {
  background-position: center;
  background-size: cover;
}

/* Navigation Start */
header {
  background: $primary-blue;
  padding: 1.5rem 1.5rem;
  height: 30rem;
  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .site-name {
      font-size: 1.5rem;
      color: $white;
    }
    .main-menu {
      position: absolute;
      width: 100%;
      height: auto;
      background: $white;
      top: 10rem;
      text-align: center;
      z-index: 999;
      padding: 1.5rem;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      &.open {
        top: 5rem;
        opacity: 1;
        pointer-events: all;
      }
      &::before {
        content: "";
        position: absolute;
        background: transparent;
        border-bottom: 3rem solid $white;
        border-left: 2.5rem solid transparent;
        top: -1.5rem;
        right: 0;
      }
      li {
        display: block;
        padding: 1rem;
        .nav-link {
          &:not(.btn) {
            color: $grey-blue;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .hero-section {
    padding: 3rem 0 1.5rem;
    position: relative;
    &__title {
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 0.25rem;
    }
    &__icon {
      position: absolute;
      top: 13.5rem;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
/* Navigation End */

@import "mentorfooter";
